# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Haruaki Tamada
	email = tamada@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[pull]
	rebase = false
[init]
	defaultBranch = main
